{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
Episodes
{% endblock %}
{% block app_content %}
<div class="container">
    <div class="jumbotron" style="background-color: #1a0489'); background-size: cover; font-size: 20px;">
        <div style="width: 50%; align: left;">
        <h1 class="display-4">Episodes</h2>
      <p class="lead">
<table>
    <tr>
        <td>
    <a href="static/ep1.mp3">Episode 1</a>
        </td>
        <td>
    June 14, 2019
        </td>
    <tr>
        <td>
    <a href="static/ep2.mp3">Episode 2</a>
        </td>
        <td>
    June 21, 2019
        </td>
    <tr>
        <td>
    Episode 3 (lost forever?)
        </td>
        <td>
    July 1, 2019
        </td>
    </tr>
    <tr>
        <td>
    <a href="static/ep4.mp3">Episode 4</a>
        </td>
        <td>
     July 11, 2019
        </td>
    </tr>
        <td>
    <a href="static/ep5.mp3">Episode 5</a>
        </td>
        <td>
    July 17, 2019
        </td>
    </tr>
    <tr>
        <td>
    <a href="static/ep6.mp3">Episode 6</a>
        </td>
        <td>
    July 7, 2019
        </td>
    </tr>
    <tr>
        <td>
    <a href="static/ep7.mp3">Episode 7</a>
        </td>
        <td>
    August 16, 2019
        </td>
    </tr>
     <tr>
        <td>
    <a href="static/ep8.mp3">Episode 8</a>
        </td>
        <td>
    August 28, 2019
        </td>
      </tr>
      <tr>
        <td>
    <a href="static/ep9.mp3">Episode 9</a>
        </td>
        <td>
    September 24, 2019
        </td>
    </tr>
    <tr>
      <td>
    <a href="static/ep10.mp3">Episode 10</a>
        </td>
        <td>
    October 4, 2019
        </td>
    </tr>
    <tr>
      <td>
    <a href="static/ep11.mp3">Episode 11</a>
        </td>
        <td>
    October 17, 2019
        </td>
    </tr>
    <tr>
      <td>
    <a href="static/ep12.mp3">Episode 12</a>
        </td>
        <td>
    October 31, 2019
        </td>
    </tr>
    <tr>
      <td>
    <a href="static/ep13.mp3">Episode 13</a>
        </td>
        <td>
    November 7, 2019
        </td>
    </tr>

</table>
        
</p>
    </div>
</div>
{% endblock %}
