{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
Episodes
{% endblock %}
{% block app_content %}
<div class="container">
    <div class="jumbotron" style="background-color: #1a0489'); background-size: cover; font-size: 20px;">
        <div style="width: 50%; align: left;">
        <h1 class="display-4">Episodes</h2>
      <p class="lead">
    <a href="static/ep1.mp3">Episode 1</a>
<br>    <a href="static/ep2.mp3">Episode 2</a>
<br>    <a href="static/ep4.mp3">Episode 4</a>
<br>    <a href="static/ep5.mp3">Episode 5</a>
<br>(No, it's not an error and you're not crazy. Episode 3 is missing from the list. Take a listen to Ep 4 to learn why.)
</p>
    </div>
</div>
{% endblock %}
